.about-scroll {
    max-height: 200px;
    overflow-y: auto;
    text-align: justify;
}

.about-scroll::-webkit-scrollbar {
    width: 6px;
}

.about-scroll::-webkit-scrollbar-thumb {
    background-color: #0d6efd;
    border-radius: 10px;
}